<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>Register</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	    
	    <head th:replace="admin/includes/heads :: heads"></head>
	</head>
	<body>
		<div class="error-pagewrap">
			<div class="page-lo-position">
				<div class="content-error">
					<div class="hpanel">
	                    <div class="panel-body">
	                    	<form  method="POST"  >
	                    		<div class="row">
	                    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			                            <div class="form-group">
			                                <label class="control-label" for="username">Nombre</label>
			                                <input type="text" placeholder="Nombre" required name="name" id="name"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="password">Apellidos</label>
			                                <input type="text" placeholder="Apellidos" required name="lastname" id="lastname"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="username">Teléfono (opcional)</label>
			                                <input type="tel" placeholder="0123456789" required name="phone" id="phone"  class="form-control">
			                            </div>
	                    			</div>
	                    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	                    				<div class="form-group">
			                                <label class="control-label" for="username">Usuario</label>
			                                <input type="text" placeholder="Usuario" required name="user" id="user"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="username">Correo</label>
			                                <input type="email" placeholder="uncorreo@example.com" required name="email" id="email"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="password">Contraseña</label>
			                                <input type="password" placeholder="******" required name="password" id="password"  class="form-control">
			                            </div>
			                            <button class="btn btn-success btn-block loginbtn">Registrarme</button>
	                    			</div>
	                    		</div>
	                    	</form>
	                    </div>
	                </div>
				</div>
			</div>   
	    </div>	    
	    <div th:replace="admin/includes/scripts :: scripts"></div>
	</body>
</html>