<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>Register</title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	    
	    <head th:replace="admin/includes/heads :: heads"></head>
	</head>
	<body>
		<div class="error-pagewrap">
			<div class="page-lo-position">
				<div class="content-error">
					<div class="hpanel">
	                    <div class="panel-body">
	                    	<form  method="POST" th:action="@{/register}" >
	                    		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
	                    		<div class="row">
	                    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			                            <div class="form-group">
			                                <label class="control-label" for="username">Nombre</label>
			                                <input type="text" placeholder="Nombre" required name="nombre" id="nombre"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="password">Apellidos</label>
			                                <input type="text" placeholder="Apellidos" required name="apellidos" id="apellidos"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="username">Teléfono (opcional)</label>
			                                <input type="tel" placeholder="0123456789" name="telefono" id="telefono"  class="form-control">
			                            </div>
	                    			</div>
	                    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	                    				<div class="form-group">
			                                <label class="control-label" for="username">Usuario (opcional)</label>
			                                <input type="text" placeholder="Usuario" name="username" id="username"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="username">Correo</label>
			                                <input type="email" placeholder="uncorreo@example.com" required name="correo" id="correo"  class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label class="control-label" for="password">Contraseña</label>
			                                <input type="password" placeholder="******" required name="password" id="password"  class="form-control">
			                            </div>
			                            <button class="btn btn-success btn-block loginbtn">Registrarme</button>
	                    			</div>
	                    		</div>
	                    	</form>
	                    </div>
	                    <div th:if="${type == 'post' } ">
	                    	<div th:if="${estatus == 'ok' } ">
	                    		<div class="alert alert-success" role="alert">
	                    			<p>Bienvenido, <span th:text="${newuser.nombre + ' ' + newuser.apellidos}"></span>. Para acceder, has click <a th:href="@{/login}">aquí</a></p>
	                    		</div>
	                    	</div>
	                    	<div th:if="${estatus == 'correo' } ">
	                    		<div class="alert alert-danger" role="alert">
	                    			<p>Ese correo ya existe, por favor intenta con otro correo o inicia sesión <a th:href="@{/login}">aquí</a></p>
	                    		</div>
	                    	</div>
	                    </div>
	                </div>
				</div>
			</div>   
	    </div>	    
	    <div th:replace="admin/includes/scripts :: scripts"></div>
	    <script type="text/javascript" th:src="@{/generales/js/messages.js}"></script>
	</body>
</html>