<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="menu-movil" class="mobile-menu-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="mobile-menu">
						<nav id="dropdown">
							<ul class="mobile-menu-nav">
								<li><a href="events.html">Inicio</a></li>
								<li><a href="events.html">Administrador</a></li>
								<li><a href="events.html">Estudiantes</a></li>
								<li><a href="events.html">Grupos</a></li>
								<li><a href="events.html">Simuladores</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>