<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
	<title>Simulador</title>
	<meta charset="utf-8">
	<head th:replace="admin/includes/heads :: heads"></head>
	<style type="text/css">
		progress[value] {
			-webkit-appearance: none;
			appearance: none;
			width: 250px;
			height: 20px;
		}
		.ml-auto, .mx-auto {
		    margin-left: auto!important;
		}
		.mr-auto, .mx-auto {
		    margin-right: auto!important;
		}
		.d-block {
		    display: block!important;
		}
		.rounded-circle {
		    border-radius: 50%!important;
		    width: 200px;
		    height: 200px;
		}
	</style>
	<body>
		<div id="hedsconf" data-title="Agregar simulador"></div>
	    <div th:replace="admin/includes/menu-desktop :: menu-desk"></div>	    
	    <div class="all-content-wrapper">
	        <div th:replace="admin/includes/logo-movile :: logo-mov"></div>
	        <div class="header-advance-area">
	            <div th:replace="admin/includes/top :: top"></div>
	            <div th:replace="admin/includes/menu-movile :: menu-movil"></div>
	            <div th:replace="admin/includes/navegacion :: breadcome"></div>
	        </div>
	        
	        <div class="single-pro-review-area mt-t-30 mg-b-15" th:fragment="frm-data-change">
				<div class="container-fluid">
					<div class="sparkline8-list responsive-mg-b-30">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<form >
									<div class="product-payment-inner-st">
										<ul id="myTabedu1" class="tab-review-design">
											<li class="active"><a href="#simulador">Simulador</a></li>
											<li><a href="#general">General</a></li>
											<li><a href="#seguridad">Seguridad</a></li>
											<li><a href="#resultados">Resultados</a></li>
										</ul>
										<div class="tab-content custom-product-edit valid-errors">
											<div class="product-tab-list tab-pane fade active in" id="simulador">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="review-content-section">
															<div class="pro-ad">
																<div class="row">
																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<div class="form-group">
																			<input id="strnombre" type="text" class="form-control" placeholder="Nombre">
																		</div>
																		<!-- div class="form-group mx-auto d-block">
																			<div id="imagePreview"></div>
																			<input type="file" onchange="setArchive(this);" data-progress="progressimgp"
																			class="custom-file-input" id="strimg" data-image-size="900,900" 
																			lang="es" accept=".png,.jpeg,.jpg,.gif" data-preview="imagePreview"
																			data-loaded="false">
																			<label class="custom-file-label" for="strimg">Seleccionar Archivo</label>
																		</div>
																		<div class="form-group">
																			<progress id="progressimgp" style="display: none;" value="1" max="100"></progress>
																		</div>-->
																	</div>
																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<div class="form-group">
																			<textarea id="strdescripcion" class="form-control" placeholder="Descripcion"></textarea>
																		</div>
																	</div>																	
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-tab-list tab-pane fade" id="general">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="review-content-section">
															<div class="pro-ad">
																<div class="row">
																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<div class="form-group radio-group">
																			<label>
																				<input data-optional data-cleable id="strmostrarall" checked type="radio"> Mostrar todas las preguntas
																			</label>
																			<div class="form-group">
																				<label>
																					<input data-optional data-cleable id="strmostraronly" type="radio"> Mostrar sólo
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<div class="form-group  radio-group">
																			<label>
																				<input data-optional data-cleable id="strvistaall" checked type="radio"> Todas las preguntas en una hoja
																			</label>
																			<div class="form-group">
																				<label>
																					<input data-optional data-cleable id="strvistaonly" type="radio"> Mostrar preguntas en un wizard
																				</label>
																			</div>
																		</div>
																	</div>
																</div>
																<hr>
																<div class="row">
																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strrandom" type="checkbox"> Preguntas random
																			</label>
																		</div>
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strtiempo" type="checkbox"> Asignar un tiempo
																			</label>
																		</div>
																	</div>
																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable data-noset id="strvence" type="checkbox"> Vencimiento de simulador
																			</label>
																			<div class="form-group" style="display: flex;">
																				<input data-optional id="strvenceini" disabled type="date" class="form-control">
																				<span style="padding-right: 20px;padding-left: 20px;">a</span>
																				<input data-optional id="strvencefin" disabled type="date" class="form-control">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-tab-list tab-pane fade" id="seguridad">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="review-content-section">
															<div class="row">
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<div class="devit-card-custom">
																		<div class="form-group  radio-group">
																			<label>
																				<input data-optional data-cleable id="stridgrupoall" checked type="radio"> Para todos
																			</label>
																			<div class="form-group">
																				<label>
																					<input data-optional data-cleable id="stridgrupo" type="radio"> Para grupo
																				</label>
																			</div>
																		</div>
																		<hr>
																		<div class="form-group radio-group" data-showt>
																			<label>
																				<input data-optional data-noset data-cleable id="strpasswordno" checked type="radio"> Sin contraseña
																			</label>
																			<div class="form-group">
																				<label>
																					<input data-optional data-cleable data-block data-noset id="strpasswordsi" type="radio"> Asignar contraseña (restringir acceso a alumnos aún en grupos)
																				</label>
																				<div class="form-group">
																					<input data-optional id="strpassword" disabled autocomplete="current-password" type="password" class="form-control" style="width: 80%;">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-tab-list tab-pane fade" id="resultados">
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="review-content-section">
															<div class="row">
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<div class="devit-card-custom">
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strpreguntasc" type="checkbox"> Mostrar preguntas correctas
																			</label>
																		</div>
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strrespuestac" type="checkbox"> Mostrar respuestas correctas
																			</label>
																		</div>
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strpreguntasi" type="checkbox"> Mostrar preguntas incorrectas
																			</label>
																		</div>
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strcalificacion" type="checkbox"> Mostrar calificación
																			</label>
																		</div>
																	</div>
																</div>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<div class="devit-card-custom">
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strgrafico" type="checkbox"> Mostrar gráfico
																			</label>
																		</div>
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strtiemporesponse" type="checkbox"> Mostrar tiempo de examen
																			</label>
																		</div>
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strmensajesop" type="checkbox"> Mostrar mensajes opcionales
																			</label>
																		</div>
																	</div>
																</div>
															</div>
															<hr>
															<div class="row radio-group" data-showt>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<div class="devit-card-custom">
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strintentosall" checked type="radio"> Mostrar todos los intentos
																			</label>
																		</div>
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strintentosonly" type="radio"> Mostrar # intentos
																			</label>
																		</div>
																	</div>
																</div>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<div class="devit-card-custom">
																		<div class="form-group">
																			<label>
																				<input data-optional data-cleable id="strshowrango" data-block data-noset type="radio"> Mostrar en rango de fechas
																			</label>
																			<div class="form-group" style="display: flex;">
																				<input data-optional id="strshowfechaini" disabled type="date" class="form-control">
																				<span style="padding-right: 20px;padding-left: 20px;">a</span>
																				<input data-optional id="strshowfechafin" disabled type="date" class="form-control">
																			</div>
																		</div>
																		
																	</div>
																</div>
																<div class="form-group">
										<input  onclick="sendData(this);"
											data-onclear="true" 
											data-href-method="post"
											data-remain="3"
											data-href-url="/admin/actions/simuladores" data-optional data-noset data-cleable 
											type="button" class="btn btn-info" value="Aceptar">
									</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	    <div th:replace="admin/includes/scripts :: scripts"></div>
	    <script type="text/javascript" th:src="@{/generales/js/messages.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/js/validations.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/js/functions.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/quiz/addsimulador.js}"></script>
	</body>
</html>