<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
	<title>Simuladores</title>
	<meta charset="utf-8">
	<head th:replace="admin/includes/heads :: heads"></head>
	<body>
		<div id="hedsconf" data-search="simulador" data-ads="button" data-href="/admin/simuladores/add"></div>
	    <div th:replace="admin/includes/menu-desktop :: menu-desk"></div>	    
	    <div class="all-content-wrapper">
	        <div th:replace="admin/includes/logo-movile :: logo-mov"></div>
	        <div class="header-advance-area">
	            <div th:replace="admin/includes/top :: top"></div>
	            <div th:replace="admin/includes/menu-movile :: menu-movil"></div>
	            <div th:replace="admin/includes/navegacion :: breadcome"></div>
	        </div>
	        <div class="courses-area">
	        	<div class="container-fluid">
	        		<div class="row">	        		
	        			<div class="col-lg-4 col-md-4 col-sm-3 col-xs-2" th:each="quiz,itemq: ${quizList}">
	        				<div class="courses-inner res-mg-b-30">
	        					<div class="courses-title">
	        						
                                   <a th:href="@{/admin/simuladores/resultados/__${quiz.idquiz}__}"><img th:src="@{${quiz.img}? ${quiz.img} : '/administrador/img/courses/1.jpg'}" alt=""></a>
	        						<h2 th:text="${quiz.nombre}"></h2>
	        						<h5 ></h5>
	        					</div>
	        					<div class="course-des">
	        						<p><span><i class="fa fa-clock"></i></span> <b th:text="${#lists.size(quiz.questionsList)}"></b> Preguntas</p>
	        						<p th:if="${#lists.size(quiz.quizgrupoList) > 0}"><span><i class="fa fa-clock"></i></span> <b th:text="${#lists.size(quiz.quizgrupoList.get(itemq.index).idgrupo.grupousuarioList.?[estatus])}"></b> Alumnos</p>
	        						<p th:if="${#lists.size(quiz.quizgrupoList) <= 0}"><span><i class="fa fa-clock"></i></span> <b>0</b> <a th:href="@{/admin/relacion/grupos/__${quiz.idquiz}__}">Alumnos</a></p>
	        					</div>
	        					<div class="product-buttons">
	        						<button type="button" class="button-warning cart-btn">Editar</button>
	        						<button type="button" th:onclick="@{javascript:location.href='/admin/simuladores/preguntas/__${quiz.idquiz}__';}" class="button-info cart-btn">Preguntas</button>
	        						<button type="button" class="button-danger cart-btn">Eliminar</button>
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div th:replace="admin/includes/scripts :: scripts"></div>
	    <script type="text/javascript" src="/generales/js/messages.js"></script>
	</body>
</html>