<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
	<title>Realizar quiz</title>
	<meta charset="utf-8">
	<head th:replace="student/includes/heads :: heads"></head>
	<script type="text/javascript">var objResource;var listQuestions = [];var objQuiz, lista;var lstresp = [];var id = 0;var typeview = false;var itempos = 0;var arrobjectElement = [];</script>
	<style type="text/css">.fireworks-window{position:fixed;top:0; left:0;width:100%;height:100vh;display:flex;z-index: 10000;background-color: rgba(0,0,0,.9);}.fireworks-content{background:transparent;}.vialing-err{background-color: red; }</style>
	<body>
		<nav th:replace="student/includes/layout :: top"></nav>
		<section class="section">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-md-6 plain">
						<div class="left" id="before"></div>
						<div class="rigth" id="nextfinished"></div>
					</div>
					<div class="col-md-6">
						<div class="clock">
							<span id="timer"></span>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6" id="itemquest"></div>
					<div class="col-md-6" id="itemslist"></div>
				</div>
			</div>
		</section>
		<footer th:replace="student/includes/layout :: footer"></footer>
		<div th:replace="student/includes/scripts :: scripts"></div>
		<script type="text/javascript" th:src="@{/generales/js/fireworks.js}"></script>
		<script th:src="@{/administrador/js/charts/Chart.js}"></script>
		<script type="text/javascript" th:src="@{/generales/quiz/Question.js}"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/ var jsonval = [[${quiz.questionsList}]] ;var configurationcs = {
					"id" : [[ ${quiz.idquiz} ]],
					"showallquestion" : [[ ${quiz.showallquestion} ]],
					"mostrar" : [[ ${quiz.mostrar} ]],
					"vista" : [[ ${quiz.vista} ]],
					"random" : [[ ${quiz.random} ]],
					"tiempo" : [[ ${quiz.tiempo} ]],
					"venceini" : [[ ${quiz.venceini} ]],
					"vencefin" : [[ ${quiz.vencefin} ]],
					"intentos" : [[ ${quiz.intentos} ]],
					"preguntasc" : [[ ${quiz.preguntasc} ]],
					"respuestac" : [[ ${quiz.respuestac} ]],
					"preguntasi" : [[ ${quiz.preguntasi} ]],
					"calificacion" : [[ ${quiz.calificacion} ]],
					"grafico" : [[ ${quiz.grafico} ]],
					"istiempo" : [[ ${quiz.istiempo} ]],
					"mensajesop" : [[ ${quiz.mensajesop} ]],
					"isintentos" : [[ ${quiz.isintentos} ]]}; setConfiguration( configurationcs, jsonval );function setConfiguration( configurationcs, jsonvalues ){$.each( jsonvalues, function( key, val ) {listQuestions.push(new Question(val.question, val.options.split("##\u0026\u0026"), val.answers.split(","), val.message, val.idquestion, 0, val.type, val.score));});objResource = new Resource();objQuiz = new Quiz(listQuestions);lista = objResource.getNewArray(15, objQuiz.getObject() );lstresp = [];id = configurationcs.id;typeview = configurationcs.vista;itempos = 0;arrobjectElement = [];} /*]]>*/
		</script>
		<script type="text/javascript" th:src="@{/generales/quiz/quiz.js}"></script>
	</body>
</html>