<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
	<title>Estudiantes</title>
	<meta charset="utf-8">
	<head th:replace="admin/includes/heads :: heads"></head>
	<body>
		<div id="hedsconf" data-title="Agregar grupo"></div>
	    <div th:replace="admin/includes/menu-desktop :: menu-desk"></div>	    
	    <div class="all-content-wrapper">
	        <div th:replace="admin/includes/logo-movile :: logo-mov"></div>
	        <div class="header-advance-area">
	            <div th:replace="admin/includes/top :: top"></div>
	            <div th:replace="admin/includes/menu-movile :: menu-movil"></div>
	            <div th:replace="admin/includes/navegacion :: breadcome"></div>
	        </div>
	        <div class="single-pro-review-area mt-t-30 mg-b-15" th:fragment="frm-data-change">
				<div class="container-fluid">
					<div class="sparkline8-list responsive-mg-b-30">
						<form class="valid-errors">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div style="/*height: 204px; overflow: scroll;*/">
										<table class="table" data-collection="grupousuario">
											<thead>
												<tr>
													<th>Nombre</th>
													<th>Asignar</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="useri,item : ${listUser}">
													<td th:text="${useri.value[1].nombre} + ' ' + ${useri.value[1].apellidos}"></td>
													<td th:if="${param.action[0] == 'edit'}">
													    <input type="checkbox" th:if="${useri.value[0] == true}" checked th:id="'ckus'+${item.index}" data-unsel data-push th:data-idsend="${grupo.idgrupo}" th:data-selck="${useri.value[1].iduser}" class='switch'/>
													    <input type="checkbox" th:if="${useri.value[0] == false}" th:id="'ckus'+${item.index}" data-unsel data-push th:data-idsend="${grupo.idgrupo}" th:data-selck="${useri.value[1].iduser}" class='switch'/>
													    <label th:for="'ckus'+${item.index}"></label>
													</td>
													<td th:if="${param.action[0] == 'add'}">
													    <input type="checkbox" th:id="'ckus'+${item.index}" data-unsel th:data-selck="${useri.value[1].iduser}" class='switch'/>
													    <label th:for="'ckus'+${item.index}"></label>
													</td>
												</tr>												
											</tbody>
										</table>
									</div>
								</div>
								<input type="hidden" th:if="${param.action[0] == 'add'}" data-idsends="idgrupo" th:data-idsend="${grupo.idgrupo}"/>
								<input type="hidden" th:if="${param.action[0] == 'edit'}" data-urlcheck="/admin/grupos/add/estudiante"/>
							</div>
							<div class="form-group">
								<input type="button" th:if="${param.action[0] == 'edit'}" th:onclick="@{location.href='/admin/grupos'}" class="btn btn-success" value="Listo!"/>
								<input type="button" th:if="${param.action[0] == 'add'}" 
								onclick="sendDataList(this);"
								data-href-method="post"
								th:data-href-url="@{/admin/grupos/add/estudiantes}"
								th:data-response="@{/admin/grupos}"
								class="btn btn-success" value="Listo!"/>
							</div>
						</form>
					</div>
				</div>
			</div>
	    </div>
	    <div th:replace="admin/includes/scripts :: scripts"></div>
	    <script type="text/javascript" th:src="@{/generales/js/messages.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/js/senders.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/js/validations.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/js/functions.js}"></script>
	</body>
</html>