/*****************************************/
/********* Formularios 						********/
/*****************************************/
.address-text > p, .phone-text > p, .email-text > p {
  font-size: 18px;
  margin-bottom: 10px;
}

.address-text > p > span, .phone-text > p > span, .email-text > p > span {
  color: $principal;
}

.footer-contact-area {
  .line-shape {
    margin-left: 0;
  }
  .heading-text {
    > p {
      margin-top: 50px;
    }
    margin-bottom: 50px;
  }
}

#name, #email {
  font-size: 18px;
  padding: 15px 15px;
}
.btn-contact{
	color: #726a84;
    background-color: #fff;
    border: 1px solid #ddd;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -ms-flex-pack: center;
    justify-content: center;
}