.app_screenshots_slides {
  padding: 0 6%;
  .single-shot {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }
  .center .single-shot {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.app-screenshots-area {
  .owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
    margin-top: 50px;
    &.active {
      background-color: #fb397d;
      border: transparent;
    }
  }
  .owl-dots {
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
