<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="menu-desk" class="left-sidebar-pro">
		<nav id="sidebar" class="">
			<div class="sidebar-header">
				<a href="index.html">
					<img class="main-logo" th:src="@{/home/img/logadmin.png}" alt="" />
				</a>
			</div>
			<div class="left-custom-menu-adp-wrap comment-scrollbar">
				<nav class="sidebar-nav left-sidebar-menu-pro">
					<ul class="metismenu" id="menu1">
						<li class="active">
							<a href="/loginsucces" aria-expanded="false">
								<span class="educate-icon educate-home icon-wrap" aria-hidden="true"></span>
								<span class="mini-click-non">Inicio</span>
							</a>
						</li>
						<li>
							<a href="/admin/user" aria-expanded="false">
								<span class="educate-icon educate-professor icon-wrap" aria-hidden="true"></span>
								<span class="mini-click-non">Administrador</span>
							</a>
						</li>
						<li>
							<a href="/admin/estudiantes" aria-expanded="false"><span
								class="educate-icon educate-student icon-wrap" aria-hidden="true"></span> 
								<span class="mini-click-non">Estudiantes</span></a>
						</li>
						<li>
							<a href="/admin/grupos" aria-expanded="false">
								<span class="educate-icon educate-department icon-wrap" aria-hidden="true"></span>
								<span class="mini-click-non">Grupos</span>
							</a>
						</li>
						<li>
							<a href="/admin/simuladores" aria-expanded="false">
								<span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> 
								<span class="mini-click-non">Simuladores</span>
							</a>
						</li>
						<li>
							<a href="/admin/compras" aria-expanded="false">
								<span class="educate-icon educate-price-tag icon-wrap" aria-hidden="true"></span> 
								<span class="mini-click-non">Compras</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</nav>
	</div>
</html>