<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="scripts">
		<script th:src="@{/generales/js/jquery-1.12.4.min.js}"></script>
	    <script th:src="@{/generales/js/bootstrap.min.js}"></script>
	    <script th:src="@{/administrador/js/wow.min.js}"></script>
	    <script th:src="@{/generales/js/jquery.meanmenu.js}"></script>
	    <script th:src="@{/generales/js/owl.carousel.min.js}"></script>
	    <script th:src="@{/generales/js/jquery.sticky.js}"></script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>

	    <script th:src="@{/generales/js/jquery.scrollUp.min.js}"></script>

	    <script th:src="@{/administrador/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
	    <script th:src="@{/administrador/js/scrollbar/mCustomScrollbar-active.js}"></script>

	    <script th:src="@{/administrador/js/metisMenu/metisMenu.min.js}"></script>
	    <script th:src="@{/administrador/js/metisMenu/metisMenu-active.js}"></script>

	    <!-- <script th:src="@{/administrador/js/sparkline/jquery.sparkline.min.js}"></script>
	    <script th:src="@{/administrador/js/sparkline/jquery.charts-sparkline.js}"></script>-->

	    <script th:src="@{/administrador/js/tab.js}"></script>
	    <script th:src="@{/administrador/js/plugins.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/quiz/Question.js}"></script>
	    <script th:src="@{/administrador/js/main.js}"></script>
	</div>
</html>