<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="top" class="header-top-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="header-top-wraper">
						<div class="row">
							<div class="col-md-4">
								<div class="menu-switcher-pro">
									<button type="button" id="sidebarCollapse"
										class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
										<i class="educate-icon educate-nav"></i>
									</button>
								</div>
							</div>
							<div class="col-md-4 col-md-offset-4">
								<div class="header-right-info">
									<ul class="nav navbar-nav mai-top-nav header-right-menu">
										<li class="nav-item">
											<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"> <img th:src="@{/administrador/img/product/pro4.jpg}" alt="" />
												<span class="admin-name">Prof.Anderson</span>
												<i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
											</a>
											<ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
												<li>
													<a href="#">
														<span class="edu-icon edu-settings author-log-ic"></span>Configuración
													</a>
												</li>
												<li>
													<a href="#">
														<span class="edu-icon edu-locked author-log-ic"></span>Log Out
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>