<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
	<title>Perfil</title>
	<meta charset="utf-8">
	<head th:replace="student/includes/heads :: heads"></head>
	<body>
		<nav th:replace="student/includes/layout :: top"></nav>
		<section class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Datos personales</h2>
							<form class="valid-errors">
								<div class="form-group">
									<input type="text" th:value="${usuario.nombre}" class="form-control" maxlength="30" id="strnombre" placeholder="Nombre"/>
								</div>
								<div class="form-group">
									<input type="text" th:value="${usuario.apellidos}" class="form-control" maxlength="40" id="strapellidos" placeholder="Apellidos"/>
								</div>
								<div class="form-group">
									<input type="tel" data-optional th:value="${usuario.telefono}" class="form-control data-numeric" maxlength="10" id="strtelefono" placeholder="Teléfono (opcional)"/>
								</div>
								<div class="form-group">
									<input type="text" th:value="${usuario.username}" class="form-control" maxlength="50" id="strusername" placeholder="Username"/>
									<input type="hidden" value="personal" data-optional id="strtypes"/>
								</div>
								<div class="form-group">
									<input type="button" onclick="sendData(this);"
									data-onclear="false" 
									data-href-method="put" 
									data-content-type="application/json; charset=utf-8"
									data-content-heads="Content-type" 
									data-remain="3" 
									th:data-href-url="@{/me/profile/personal}" 
									data-optional data-noset data-cleable
									class="btn btn-primary" value="Actualizar"/>
								</div>
								<div id="unid"></div>
							</form>
							<hr>
							<h2>Datos de cuenta</h2>
							<form class="valid-errors form" id="cuenta">
								<div class="form-group">
									<input type="email" data-optional class="form-control" id="strcorreo" placeholder="Correo"/>
								</div>
								<div class="form-group">
									<input type="password" data-optional class="form-control" id="strpassword" placeholder="Contraseña"/>
								</div>
								<div class="form-group">
									<input type="password" data-optional class="form-control" id="strpasswordr" data-noset placeholder="Confirmar contraseña"/>
								</div>
								<div class="form-group">
									<input type="button" onclick="sendData(this);"
									data-onclear="true" data-multiples="#cuenta" data-href-method="put" 
									data-content-type="application/json; charset=utf-8" data-content-heads="Content-type" 
									data-remain="3" th:data-href-url="@{/me/profile/personal}" 
									data-optional data-noset data-cleable data-logout
									class="btn btn-primary" value="Actualizar"/>
								</div>
							</form>
							<p>Si quieres actualizar sólo la contraseña, deja el campo de correo vacío y viceversa.</p>
							<p><strong>Nota: </strong>al actualizar estos campos se cerrará la sesión automáticamente</p>
						</div>
					</div>	
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="img-container">
								<div id="imagePreview">
									<img th:if="${usuario.perfil == null}" th:src="@{/administrador/img/profile/1.jpg}"/>
									<img th:if="${usuario.perfil != null}" th:src="@{/estudiante/photos/__${usuario.perfil}__}"/>
								</div>
								<h4>{{ Nombre de estudiante }}</h4>
							</div>
							<form enctype="multipart/form-data">
								<div class="form-group">
									<label>
										Cambiar foto de perfil
										<input type="file" onchange="setArchive(this);" id="perfil" data-progress="progressimgp" 
											data-image-size="900,900" accept=".png,.jpeg,.jpg,.gif" data-preview="imagePreview"
											data-url-img="/me/profile/img/edit" data-reurl="/me/profile" data-loaded="false">
									</label>
								</div>
								<div class="form-group">
									<div class="progress" style="display: none;">
										<div class="progress-bar progress-bar-striped active" id="progressimgp" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
									</div>
								</div>
							</form>
							<p>La imagen se actualiza al instante en que se carga. (Al actualizar la imagen, espere 2 minutos máximo pues está siendo verificada)</p>
						</div>
					</div>	
				</div>
			</div>
		</section>
		<footer th:replace="student/includes/layout :: footer"></footer>
		<div th:replace="student/includes/scripts :: scripts"></div>
		<script type="text/javascript" th:src="@{/generales/js/senders.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/js/validations.js}"></script>
	    <script type="text/javascript" th:src="@{/generales/js/functions.js}"></script>
	</body>
</html>