/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
#more{
	border-radius: 50%;
}
#more:hover{
	border-radius: 50%;
}
#more:active{
	border-radius: 50%;
}
#more:focus{
	border-radius: 50%;
}
#more:visited{
	border-radius: 50%;
}

.grid-quest {
	display: grid;
	grid-template-columns: 10% 60% 30%;
}
.grid-quest > .item-grid-c {
	text-align: left;
}

.grid-delq {
	display: grid;
	grid-template-columns: 40% 60%;
}
.grid-delq > .item-grid-q {
	text-align: left;
}

.upload{
  margin-top: 10px;
  width: 500px;
  height: 200px;
  border: 4px dashed #000;
}
.upload p{
  width: 100%;
  text-align: center;
  line-height: 170px;
  font-family: Arial;
}
.upload input[type='file']{
  margin: 0;
  padding: 0;
  width: 100%;
  outline: none;
  opacity: 0;
}
progress[value] {
			-webkit-appearance: none;
			appearance: none;
			width: 250px;
			height: 20px;
		}
		.ml-auto, .mx-auto {
		    margin-left: auto!important;
		}
		.mr-auto, .mx-auto {
		    margin-right: auto!important;
		}
		.d-block {
		    display: block!important;
		}
		.rounded-circle {
		    border-radius: 50%!important;
		    width: 200px;
		    height: 200px;
		}


.page-lo-position {
			    padding: 20px 0;
			    position: relative;
			    margin: 0 auto;
			    width: 70%;
			}
			.page-lo-position, .error-pagewrap:before {
			    vertical-align: middle;
			    display: inline-block;
			}
			
/*******************
* Checkbox switch
********************/
input[type=checkbox].switch + label {
  width: 34px;
  height: 14px;
  background: lightgray;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin: 10px;
}
input[type=checkbox].switch + label:before, input[type=checkbox].switch + label:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 0;
  transition: all 0.2s;
}
input[type=checkbox].switch + label:after {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
input[type=checkbox].switch + label:before {
  background: lightgray;
  transform: scale3d(0, 0, 1);
}
input[type=checkbox].switch + label:active:before {
  transform: scale3d(3, 3, 1);
  opacity: 0;
}

input[type=checkbox].switch {
  display: none;
}
input[type=checkbox].switch:checked + label {
  background: rgba(3, 155, 229, 0.5);
}
input[type=checkbox].switch:checked + label:before, input[type=checkbox].switch:checked + label:after {
  left: 14px;
  background: #039be5;
}
input[type=checkbox].switch:disabled + label {
  opacity: 0.4;
  cursor: not-allowed;
}

input[type=checkbox].switch.green {
  display: none;
}
input[type=checkbox].switch.green:checked + label {
  background: rgba(4, 196, 52, 0.5);
}
input[type=checkbox].switch.green:checked + label:before, input[type=checkbox].switch.green:checked + label:after {
  background: #04c434;
}

input[type=checkbox].switch.red {
  display: none;
}
input[type=checkbox].switch.red:checked + label {
  background: rgba(244, 67, 54, 0.5);
}
input[type=checkbox].switch.red:checked + label:before, input[type=checkbox].switch.red:checked + label:after {
  background: #f44336;
}